
<div class="hero">
  <br />
  <div class="col-10 offset-1 text-center">
    <br />
    <h1>Welcome to Cobblestone Industries, Inc.</h1>
    <br />
    <h2>A contracted FedEx company</h2>
    <br />
    <br /><br />
  </div>
</div>
<br />

<div class="container">
  <div class="row text-center">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="crew.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">A day in the life..</h5>
        <p class="card-text">Walk through a typical day for one of our drivers and learn more about our competitive pay & benefits package.</p>
        <a href="#" class="btn btn-info">Learn more</a>
      </div>
    </div>
  </div>
    <div class="col-sm">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="truck.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Looking for a Career?</h5>
      <p class="card-text">Our crew is made up of fun, driven individuals who deliver on customer service and safety every day. Become an important part of our team today.</p>
      <a href="#" class="btn btn-info">Apply Now</a>
    </div>
  </div>
    </div>
    <div class="col-sm">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">About Cobblestone</h5>
      <p class="card-text">Learn the history and mission of our unique company.</p>
      <a href="#" class="btn btn-info">About CII</a>
    </div>
  </div>
    </div>
  </div>
</div>


